* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  user-select: none;
}

body {
  /* background-color: white; */
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}
