.container {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 2px solid black;
}

.canvas {
  display: flex;
  width: 100%;
}

/* .header {
  grid-template-columns: 1fr 1fr;
} */

.title {
  padding: 0.5rem;
  margin: 0;
  display: flex;
  align-items: center;
  background-color: lightblue;
  width: 100%;
}

.highlight {
  background-color: lightblue;
}
