.loader {
  margin: 0 auto;
  overflow: hidden;
}

.frames {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.frame {
  display: block;
  width: 32px;
  height: 32px;
  animation: rotate 1s infinite linear both;
  transform-origin: center;
  border: 2px solid black;
  --color-start: black; /* Fallback */
  --color-end: white; /* Fallback */
}

@keyframes rotate {
  0% {
    transform: rotate(180deg) scale(0.1);
    border-color: var(--color-start);
  }
  50% {
    transform: rotate(-180deg);
    transform: rotate(0deg) scale(1.2);
    border-color: var(--color-end);
  }
  100% {
    transform: rotate(0deg) scale(1);
    border-color: var(--color-start);
  }
}
