.directory,
.file {
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.directory {
  /* background-color: rebeccapurple; */
  /* color: white; */
}

.directory[data-expanded="true"] {
  background-color: white;
  /* background-color: darkslateblue; */
}

.file {
  /* background-color: rgb(71, 66, 101); */
}

.directory .content[data-hidden="true"] {
  display: none;
}

.directory-tree {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
  list-style-type: none;
}

.directory-tree[data-expanded="true"] .directory-name {
  margin-bottom: 0.5rem;
  position: sticky;
  top: 0;
}

.directory-name {
  font-weight: bold;
  padding: 0.5rem;
}

.directory-name[data-sticky] {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}
