.directory,
.file {
  cursor: pointer;
}

.file {
  padding-left: 1rem;
  border-left: 2px solid black;
}

.directory[data-expanded="true"] {
  background-color: white;
  /* background-color: darkslateblue; */
}

.file {
  /* background-color: rgb(71, 66, 101); */
}

.directory .content[data-hidden="true"] {
  display: none;
}

.directory-tree {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.directory-tree[data-expanded="true"] .directory-name {
  margin-bottom: 0.5rem;
  position: sticky;
  top: 0;
}

.directory-name {
  font-weight: bold;
  padding: 0.5rem;
  border-left: 2px solid black;
  border-bottom: none;
  position: relative;
}

.directory-content {
  padding-left: 1rem;
}

/* .directory-name::before {
  content: "+";
  font-size: 2rem;
  position: absolute;
  left: -0.5rem;
  width: 1rem;
  height: 1rem;
} */

.directory-name[data-sticky] {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}
